In [ ]:
Cross Validation

In [8]:
#find lat and long of city center then subtract out lat and long form it to find the difference 
# weak correlation to test in model Floor waterfront view and grade 
#Importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
import numpy as np
from datetime import datetime
import statsmodels.formula.api as smf
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from scipy import stats
import math
from PIL import Image

df2 = pd.read_csv("kc_house_data_clean.csv")

In [9]:
df2 =df2.drop(["Unnamed: 0"], axis = 1)
df2

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,zipcode,lat,long,sqft_living15,sqft_lot15,Income,Renovated,year_sold,house_age_at_sale
0,164,221900.0,3,1.00,1180,5650,1.0,0,4,0,...,2014,66,47.5112,-122.257,1340,5650,113555.0,No,2014,0.0
1,52,205425.0,2,1.00,880,6780,1.0,0,4,2,...,2014,66,47.5009,-122.248,1190,6780,113555.0,No,2014,0.0
2,76,445000.0,3,2.25,2100,8201,1.0,0,0,0,...,2014,66,47.5091,-122.244,2660,8712,113555.0,No,2014,0.0
3,146,236000.0,3,1.00,1300,5898,1.0,0,4,0,...,2014,66,47.5053,-122.255,1320,7619,113555.0,NaN,2014,0.0
4,292,170000.0,2,1.00,860,5265,1.0,0,4,0,...,2015,66,47.5048,-122.272,1650,8775,113555.0,No,2015,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21415,154,2720000.0,4,3.25,3990,18115,2.0,0,4,2,...,2014,24,47.6177,-122.229,3450,16087,7190.0,NaN,2014,0.0
21416,84,1950000.0,4,3.50,4065,18713,2.0,0,4,2,...,2014,24,47.6209,-122.237,3070,18713,7190.0,No,2014,0.0
21417,345,2250000.0,5,5.25,3410,8118,2.0,0,4,0,...,2015,24,47.6295,-122.236,3410,16236,7190.0,No,2015,0.0
21418,195,2900000.0,5,4.00,5190,14600,2.0,0,2,0,...,2014,24,47.6102,-122.225,3840,19250,7190.0,No,2014,0.0
21419,292,1870000.0,4,3.75,3790,8797,2.0,0,4,0,...,2015,24,47.6351,-122.236,2660,12150,7190.0,NaN,2015,0.0

In [22]:
y = df2["price"]
X = df2.drop(columns=["price","Renovated"], axis=1)

In [23]:
model = sm.OLS(y, sm.add_constant(X.astype(float)), missing = "drop").fit()
results = model.summary()
print(results)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.671
Model:                            OLS   Adj. R-squared:                  0.671
Method:                 Least Squares   F-statistic:                     2296.
Date:                Wed, 05 Jan 2022   Prob (F-statistic):               0.00
Time:                        11:21:39   Log-Likelihood:            -2.9298e+05
No. Observations:               21420   AIC:                         5.860e+05
Df Residuals:                   21400   BIC:                         5.862e+05
Df Model:                          19
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const             -1.369e+08   1.17e+07    -11.651      0.000    -1.6e+08   -1.14e+08
date                 20.3711     24.617      0.828      0.408     -27.880      68.623
bedrooms            -3.9e+04   2076.909    -18.780      0.000   -4.31e+04   -3.49e+04
bathrooms            2.9e+04   3211.422      9.031      0.000    2.27e+04    3.53e+04
sqft_living         160.1982     18.960      8.449      0.000     123.035     197.362
sqft_lot              0.2064      0.050      4.112      0.000       0.108       0.305
floors             1.427e+04   3692.572      3.864      0.000    7028.575    2.15e+04
waterfront         7.131e+05   1.81e+04     39.385      0.000    6.78e+05    7.49e+05
view              -3.462e+04   1695.264    -20.425      0.000   -3.79e+04   -3.13e+04
condition          2.602e+04   1210.297     21.496      0.000    2.36e+04    2.84e+04
grade             -1.996e+04    679.214    -29.393      0.000   -2.13e+04   -1.86e+04
sqft_above           68.1039     18.978      3.589      0.000      30.905     105.303
sqft_basement        41.3452     18.805      2.199      0.028       4.486      78.205
yr_built           1.191e+04   2878.589      4.136      0.000    6263.745    1.75e+04
zipcode           -1627.6522     93.784    -17.355      0.000   -1811.476   -1443.829
lat                7.246e+05   1.11e+04     65.146      0.000    7.03e+05    7.46e+05
long              -4.487e+05   1.37e+04    -32.788      0.000   -4.76e+05   -4.22e+05
sqft_living15        58.2121      3.459     16.828      0.000      51.432      64.993
sqft_lot15           -0.5115      0.077     -6.640      0.000      -0.663      -0.361
Income               -0.3991      0.027    -14.783      0.000      -0.452      -0.346
year_sold          1.191e+04   2878.601      4.136      0.000    6263.869    1.75e+04
house_age_at_sale          0          0        nan        nan           0           0
==============================================================================
Omnibus:                    16429.114   Durbin-Watson:                   1.262
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1261991.384
Skew:                           3.088   Prob(JB):                         0.00
Kurtosis:                      40.092   Cond. No.                          inf
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/Users/sallypants/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/statsmodels/regression/linear_model.py:1860: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])

In [37]:
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

linreg = LinearRegression()
cv_5_results  = np.mean(cross_val_score(linreg, X, y, cv=5,  scoring='r2'))
cv_5_results

0.6045550354670167

In [32]:
cv_5_results_rmse  = np.mean(cross_val_score(linreg, X, y, cv=5,  scoring='neg_root_mean_squared_error'))
cv_5_results_rmse

-218910.73034578678

In [27]:
cv_10_results = np.mean(cross_val_score(linreg, X, y, cv=10,  scoring='r2'))
cv_10_results

In [38]:
cv_10_results_rmse = np.mean(cross_val_score(linreg, X, y, cv=10,  scoring='neg_root_mean_squared_error'))
cv_10_results_rmse

-213326.5004513049