## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

Possible questions

Does area income effect price of houses

Does property size effect housing price

Does Age of property effect price

In [26]:
#find lat and long of city center then subtract out lat and long form it to find the difference 
# weak correlation to test in model Floor waterfront view and grade

In [27]:
#Importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
import numpy as np
from datetime import datetime
import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate, ShuffleSplit
from sklearn import metrics
from scipy import stats
import math
from PIL import Image

In [28]:
df = pd.read_csv("data/kc_house_data_no_miss_values.csv")
df =df.drop(["Unnamed: 0"], axis = 1)

In [29]:
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Income,year_sold,season
0,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,7 Average,...,1955,0.0,98178,47.5112,-122.257,1340,5650,113555.0,2014,Fall
1,205425.0,2,1.00,880,6780,1.0,NO,NONE,Good,6 Low Average,...,1945,0.0,98178,47.5009,-122.248,1190,6780,113555.0,2014,Spring
2,445000.0,3,2.25,2100,8201,1.0,NaN,AVERAGE,Average,8 Good,...,1967,0.0,98178,47.5091,-122.244,2660,8712,113555.0,2014,Summer
3,236000.0,3,1.00,1300,5898,1.0,NaN,NONE,Average,7 Average,...,1961,0.0,98178,47.5053,-122.255,1320,7619,113555.0,2014,Summer
4,170000.0,2,1.00,860,5265,1.0,NO,NONE,Average,6 Low Average,...,1931,0.0,98178,47.5048,-122.272,1650,8775,113555.0,2015,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21415,2720000.0,4,3.25,3990,18115,2.0,NO,NONE,Good,11 Excellent,...,1989,0.0,98039,47.6177,-122.229,3450,16087,7190.0,2014,Fall
21416,1950000.0,4,3.50,4065,18713,2.0,NO,NONE,Good,10 Very Good,...,1987,0.0,98039,47.6209,-122.237,3070,18713,7190.0,2014,Summer
21417,2250000.0,5,5.25,3410,8118,2.0,NaN,NONE,Average,11 Excellent,...,2006,0.0,98039,47.6295,-122.236,3410,16236,7190.0,2015,Spring
21418,2900000.0,5,4.00,5190,14600,2.0,NO,FAIR,Average,11 Excellent,...,2013,0.0,98039,47.6102,-122.225,3840,19250,7190.0,2014,Fall
21419,1870000.0,4,3.75,3790,8797,2.0,NO,NONE,Average,11 Excellent,...,2006,0.0,98039,47.6351,-122.236,2660,12150,7190.0,2015,Winter

Initial Model

Possibly drop

br : sqft liv

sqft liv 15 : sqft liv

sqft above : sqft liv

sqft lot 15 : sqft lot



Keep sqft_living, drop sqft_above, sqft_living15 due to high collinearity 

Keep sqft_lot drop sqft_lot15

df = df.drop(["sqft_above", "sqft_living15", "sqft_lot15", "lat", "long" ], axis=1)

Although the above table shows that there is a high collinearity between bedrooms and sqft_living, we believe that the number of bedrooms will play a key role in the price of the home, will revisit after modeling to verify if we need

In [30]:
X = df.drop("price", axis=1)
y= df["price"]

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
X_train = X_train.apply(pd.to_numeric)

ValueError: Unable to parse string "NO" at position 0

In [ ]:
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,...,lat,long,sqft_living15,sqft_lot15,Income,house_age,year_sold,season,renovated,view_cat
13513,4,3.00,4750,21701,1.5,0,4,1,4750,0.0,...,47.6454,-122.218,3120,18551,127274.0,46,2014,3,0,0
13510,3,1.75,1640,18730,1.5,0,2,8,1640,0.0,...,47.5975,-122.196,1670,12154,127274.0,76,2014,2,0,0
5673,4,2.25,2115,6234,2.0,0,0,8,2115,0.0,...,47.2850,-122.201,2440,6366,121182.0,24,2014,2,0,0
15291,3,2.25,2220,4060,1.0,0,0,8,1330,890.0,...,47.5188,-122.265,1930,5625,208488.0,29,2014,2,0,0
17139,3,1.75,1530,8028,1.0,0,0,8,1200,330.0,...,47.7768,-122.361,1530,8028,82472.0,55,2015,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,3,1.75,1590,2500,1.5,0,2,8,1190,400.0,...,47.6668,-122.299,1420,3800,108736.0,114,2014,3,0,0
11964,3,2.50,1780,5015,2.0,0,0,8,1780,0.0,...,47.3352,-122.052,2010,5250,217292.0,12,2015,1,0,0
5390,2,1.75,860,5535,1.0,0,0,8,860,0.0,...,47.6901,-122.331,1420,4960,277894.0,74,2014,3,0,0
860,4,2.00,2510,9750,1.0,0,0,9,1630,880.0,...,47.7438,-122.229,1980,9750,90167.0,62,2015,1,0,0
15795,3,2.50,1940,4000,2.0,0,2,10,1940,0.0,...,47.6590,-122.398,1410,4000,94464.0,22,2015,1,0,0

from sklearn.feature_selection import RFECV
from sklearn.preprocessing import StandardScaler

# Importances are based on coefficient magnitude, so
# we need to scale the data to normalize the coefficients
X_train_for_RFECV = StandardScaler().fit_transform(X_train)

model_for_RFECV = LinearRegression()

# Instantiate and fit the selector
selector = RFECV(model_for_RFECV, min_features_to_select=10 ,cv=splitter)
selector.fit(X_train, y_train)

# Print the results
print("Was the column selected?")
for index, col in enumerate(X_train.columns):
    print(f"{col}: {selector.support_[index]}")
####updated # of features

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(17136, 23)
(4284, 23)
(17136,)
(4284,)

In [ ]:
X_train = df.drop("price", axis=1)
y_train = df["price"]

X_test = df.drop("price", axis=1)
y_test = df["price"]

X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,...,lat,long,sqft_living15,sqft_lot15,Income,house_age,year_sold,season,renovated,view_cat
0,3,1.00,1180,5650,1.0,0,0,8,1180,0.0,...,47.5112,-122.257,1340,5650,113555.0,67,2014,3,0,0
1,2,1.00,880,6780,1.0,0,2,7,880,0.0,...,47.5009,-122.248,1190,6780,113555.0,77,2014,1,0,0
2,3,2.25,2100,8201,1.0,0,0,9,1620,480.0,...,47.5091,-122.244,2660,8712,113555.0,55,2014,2,0,1
3,3,1.00,1300,5898,1.0,0,0,8,1300,0.0,...,47.5053,-122.255,1320,7619,113555.0,61,2014,2,0,0
4,2,1.00,860,5265,1.0,0,0,7,860,0.0,...,47.5048,-122.272,1650,8775,113555.0,91,2015,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21415,4,3.25,3990,18115,2.0,0,2,1,3990,0.0,...,47.6177,-122.229,3450,16087,7190.0,33,2014,3,0,0
21416,4,3.50,4065,18713,2.0,0,2,0,4065,0.0,...,47.6209,-122.237,3070,18713,7190.0,35,2014,2,0,0
21417,5,5.25,3410,8118,2.0,0,0,1,3410,0.0,...,47.6295,-122.236,3410,16236,7190.0,16,2015,1,0,0
21418,5,4.00,5190,14600,2.0,0,0,1,5190,0.0,...,47.6102,-122.225,3840,19250,7190.0,9,2014,3,0,1
21419,4,3.75,3790,8797,2.0,0,0,1,3290,500.0,...,47.6351,-122.236,2660,12150,7190.0,16,2015,0,0,0

In [ ]:
baseline_model = LinearRegression()

splitter = ShuffleSplit(n_splits=3, test_size=0.25, random_state=0)

baseline_scores = cross_validate(
    estimator=baseline_model,
    X=X_train[["sqft_living"]],
    y=y_train,
    return_train_score=True,
    cv=splitter
)

print("Train score:     ", baseline_scores["train_score"].mean())
print("Validation score:", baseline_scores["test_score"].mean())

Train score:      0.48968535742377295
Validation score: 0.49653373354233493

In [ ]:
df_numerical = df[['price', 'bedrooms','bathrooms', 'sqft_living', 'floors', 'sqft_lot', 'sqft_basement', 'sqft_living15', 'sqft_lot15','Income',]].copy()

In [ ]:
df_numerical1 = df[['price', 'bedrooms','bathrooms', 'sqft_living', 'floors', 'sqft_lot', 'sqft_basement', 'Income',]].copy()

In [ ]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(df_numerical.values, i) for i in range(df_numerical.shape[1])]
vif["features"] = df_numerical.columns
vif.round(2)

   VIF Factor       features
0        6.60          price
1       18.72       bedrooms
2       24.59      bathrooms
3       33.17    sqft_living
4       13.75         floors
5        2.35       sqft_lot
6        2.40  sqft_basement
7       19.79  sqft_living15
8        2.57     sqft_lot15
9        5.63         Income

Checking Data

In [39]:
def OLS_reg(df):
    y = df["price"]
    X = df.drop("price", axis=1)
    model = sm.OLS(y, sm.add_constant(X), missing = "drop").fit()
    results = model.summary()
    print(results)

In [40]:
OLS_reg(df)

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).

In [ ]:
y = df["price"]
X = df.drop("price", axis=1)

In [ ]:
pd.set_option('display.max_columns', None)
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Income,house_age,year_sold,season,renovated,view_cat
0,3,1.00,1180,5650,1.0,0,0,8,1180,0.0,1955,0.0,66,47.5112,-122.257,1340,5650,113555.0,67,2014,3,0,0
1,2,1.00,880,6780,1.0,0,2,7,880,0.0,1945,0.0,66,47.5009,-122.248,1190,6780,113555.0,77,2014,1,0,0
2,3,2.25,2100,8201,1.0,0,0,9,1620,480.0,1967,0.0,66,47.5091,-122.244,2660,8712,113555.0,55,2014,2,0,1
3,3,1.00,1300,5898,1.0,0,0,8,1300,0.0,1961,0.0,66,47.5053,-122.255,1320,7619,113555.0,61,2014,2,0,0
4,2,1.00,860,5265,1.0,0,0,7,860,0.0,1931,0.0,66,47.5048,-122.272,1650,8775,113555.0,91,2015,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21415,4,3.25,3990,18115,2.0,0,2,1,3990,0.0,1989,0.0,24,47.6177,-122.229,3450,16087,7190.0,33,2014,3,0,0
21416,4,3.50,4065,18713,2.0,0,2,0,4065,0.0,1987,0.0,24,47.6209,-122.237,3070,18713,7190.0,35,2014,2,0,0
21417,5,5.25,3410,8118,2.0,0,0,1,3410,0.0,2006,0.0,24,47.6295,-122.236,3410,16236,7190.0,16,2015,1,0,0
21418,5,4.00,5190,14600,2.0,0,0,1,5190,0.0,2013,0.0,24,47.6102,-122.225,3840,19250,7190.0,9,2014,3,0,1
21419,4,3.75,3790,8797,2.0,0,0,1,3290,500.0,2006,0.0,24,47.6351,-122.236,2660,12150,7190.0,16,2015,0,0,0

In [38]:
model = sm.OLS(y, sm.add_constant(X), missing = "drop").fit()
results = model.summary()
print(results)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.688
Model:                            OLS   Adj. R-squared:                  0.688
Method:                 Least Squares   F-statistic:                     2147.
Date:                Thu, 06 Jan 2022   Prob (F-statistic):               0.00
Time:                        12:23:50   Log-Likelihood:            -2.9240e+05
No. Observations:               21420   AIC:                         5.848e+05
Df Residuals:                   21397   BIC:                         5.850e+05
Df Model:                          22
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const           -68.7133      4.519    -15.205      0.000     -77.571     -59.855
bedrooms        -4.3e+04   2037.453    -21.105      0.000    -4.7e+04    -3.9e+04
bathrooms      5.425e+04   3340.878     16.239      0.000    4.77e+04    6.08e+04
sqft_living     142.4134     18.464      7.713      0.000     106.223     178.604
sqft_lot          0.1455      0.049      2.974      0.003       0.050       0.241
floors         3.576e+04   3690.232      9.689      0.000    2.85e+04     4.3e+04
waterfront     6.766e+05   1.77e+04     38.165      0.000    6.42e+05    7.11e+05
condition      1.733e+04   1262.173     13.734      0.000    1.49e+04    1.98e+04
grade         -1.873e+04    664.105    -28.205      0.000      -2e+04   -1.74e+04
sqft_above       79.6485     18.478      4.311      0.000      43.431     115.866
sqft_basement    41.2701     18.306      2.254      0.024       5.389      77.151
yr_built      -7.034e+04   4566.697    -15.404      0.000   -7.93e+04   -6.14e+04
yr_renovated   4501.1686    487.559      9.232      0.000    3545.517    5456.821
zipcode       -2011.4491     92.201    -21.816      0.000   -2192.169   -1830.729
lat            6.912e+05    1.1e+04     63.055      0.000     6.7e+05    7.13e+05
long          -3.517e+05   1.37e+04    -25.683      0.000   -3.79e+05   -3.25e+05
sqft_living15    59.3455      3.395     17.480      0.000      52.691      66.000
sqft_lot15       -0.5089      0.075     -6.785      0.000      -0.656      -0.362
Income           -0.3615      0.026    -13.741      0.000      -0.413      -0.310
house_age     -6.859e+04   4571.312    -15.005      0.000   -7.76e+04   -5.96e+04
year_sold        3.3e+04   4494.538      7.342      0.000    2.42e+04    4.18e+04
season         2663.4997   2030.484      1.312      0.190   -1316.401    6643.400
renovated     -8.913e+06   9.73e+05     -9.158      0.000   -1.08e+07   -7.01e+06
view_cat       1.261e+05   5314.015     23.725      0.000    1.16e+05    1.36e+05
==============================================================================
Omnibus:                    16477.036   Durbin-Watson:                   1.335
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1323278.344
Skew:                           3.088   Prob(JB):                         0.00
Kurtosis:                      41.007   Cond. No.                     7.31e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.84e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [39]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(21420, 23)
(21420, 23)
(21420,)
(21420,)

In [40]:
data_transformation = preprocessing.StandardScaler()
data = data_transformation.fit_transform(X_train)
data

array([[-0.41257996, -1.45495786, -0.98296196, ...,  1.42849868,
        -0.18916492, -0.33003825],
       [-1.52003144, -1.45495786, -1.30947943, ..., -0.5038921 ,
        -0.18916492, -0.33003825],
       [-0.41257996,  0.1711599 ,  0.0183583 , ...,  0.46230329,
        -0.18916492,  3.02995188],
       ...,
       [ 1.80232299,  4.07384254,  1.44415128, ..., -0.5038921 ,
        -0.18916492, -0.33003825],
       [ 1.80232299,  2.44772478,  3.3814883 , ...,  1.42849868,
        -0.18916492,  3.02995188],
       [ 0.69487152,  2.12250122,  1.85774008, ..., -1.47008748,
        -0.18916492, -0.33003825]])

In [41]:
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Income,house_age,year_sold,season,renovated,view_cat
0,221900.0,3,1.00,1180,5650,1.0,0,0,8,1180,0.0,1955,0.0,66,47.5112,-122.257,1340,5650,113555.0,67,2014,3,0,0
1,205425.0,2,1.00,880,6780,1.0,0,2,7,880,0.0,1945,0.0,66,47.5009,-122.248,1190,6780,113555.0,77,2014,1,0,0
2,445000.0,3,2.25,2100,8201,1.0,0,0,9,1620,480.0,1967,0.0,66,47.5091,-122.244,2660,8712,113555.0,55,2014,2,0,1
3,236000.0,3,1.00,1300,5898,1.0,0,0,8,1300,0.0,1961,0.0,66,47.5053,-122.255,1320,7619,113555.0,61,2014,2,0,0
4,170000.0,2,1.00,860,5265,1.0,0,0,7,860,0.0,1931,0.0,66,47.5048,-122.272,1650,8775,113555.0,91,2015,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21415,2720000.0,4,3.25,3990,18115,2.0,0,2,1,3990,0.0,1989,0.0,24,47.6177,-122.229,3450,16087,7190.0,33,2014,3,0,0
21416,1950000.0,4,3.50,4065,18713,2.0,0,2,0,4065,0.0,1987,0.0,24,47.6209,-122.237,3070,18713,7190.0,35,2014,2,0,0
21417,2250000.0,5,5.25,3410,8118,2.0,0,0,1,3410,0.0,2006,0.0,24,47.6295,-122.236,3410,16236,7190.0,16,2015,1,0,0
21418,2900000.0,5,4.00,5190,14600,2.0,0,0,1,5190,0.0,2013,0.0,24,47.6102,-122.225,3840,19250,7190.0,9,2014,3,0,1
21419,1870000.0,4,3.75,3790,8797,2.0,0,0,1,3290,500.0,2006,0.0,24,47.6351,-122.236,2660,12150,7190.0,16,2015,0,0,0

In [42]:
df2 = df.to_numpy()

In [43]:
y1 = df2[:, 0]
y1

array([ 221900.,  205425.,  445000., ..., 2250000., 2900000., 1870000.])

In [44]:
X1 = df2[:,1:]
X1

array([[3.00e+00, 1.00e+00, 1.18e+03, ..., 3.00e+00, 0.00e+00, 0.00e+00],
       [2.00e+00, 1.00e+00, 8.80e+02, ..., 1.00e+00, 0.00e+00, 0.00e+00],
       [3.00e+00, 2.25e+00, 2.10e+03, ..., 2.00e+00, 0.00e+00, 1.00e+00],
       ...,
       [5.00e+00, 5.25e+00, 3.41e+03, ..., 1.00e+00, 0.00e+00, 0.00e+00],
       [5.00e+00, 4.00e+00, 5.19e+03, ..., 3.00e+00, 0.00e+00, 1.00e+00],
       [4.00e+00, 3.75e+00, 3.79e+03, ..., 0.00e+00, 0.00e+00, 0.00e+00]])

In [45]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.2, random_state=42)

In [46]:
print(X_train1.shape)
print(X_test1.shape)
print(y_train1.shape)
print(y_test1.shape)

(17136, 23)
(4284, 23)
(17136,)
(4284,)

In [47]:
data_transformation = preprocessing.StandardScaler()
data = data_transformation.fit_transform(X_train1)

In [48]:
model = LinearRegression().fit(data, y_train1)
print(model.intercept_)
print(model.coef_)

543071.2926004917
[  -41040.82439659    44656.15191074   137213.24605742     3156.42549711
    19015.48273099    55596.4375414     21651.28245845   -44456.30236327
    63459.56480936    18946.75234582   -26755.29434398  1697800.11021771
   -39264.82037325    95147.88328193   -49528.73429349    38547.96763324
   -12701.22918576   -21885.26633482    26755.29434398    15457.35000831
     3866.5372022  -1684758.24555503    36531.04927776]

In [49]:
accuracy = model.score(data, y_train1)
accuracy

0.690633987479692

In [50]:
test_accuracy = model.score(data_transformation.transform((X_test1)), y_test1)
test_accuracy

0.6762913650013904

In [51]:
y_pred = model.predict(data_transformation.transform(X_test1))

In [52]:
y_pred

array([470773.48643477, 447254.36879452, 485862.04872362, ...,
       327660.03279865, 358391.32799359, 467812.78425061])

In [53]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test1, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test1, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test1, y_pred)))

Mean Absolute Error: 129547.69027065413
Mean Squared Error: 40524390527.35808
Root Mean Squared Error: 201306.70760647315

In [54]:
model1 = pd.DataFrame({'Actual value': y_test1, 'Predicted value': y_pred, "Difference" : (y_test1-y_pred).round(2)})
model1.head()

   Actual value  Predicted value  Difference
0      225000.0    470773.486435  -245773.49
1      610000.0    447254.368795   162745.63
2      482500.0    485862.048724    -3362.05
3      390000.0    260586.132302   129413.87
4      380000.0    284771.223487    95228.78

In [55]:
model1["Difference"].mean()

-104.11389822595693

In [58]:
MSE = np.square(np.subtract(y_test1,y_pred)).mean() 
 
RMSE = math.sqrt(MSE)
RMSE

201306.70760647315